.quiz-header {
    display: flex;
    flex-direction: column;
    gap: clamp(0.4rem, 0.6rem, 1rem);
}

.quiz-header h1 {
    animation: fontCycle 2s infinite;
}
.spouse-count-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.game-over-person-image-container {
  width: 64px;
  height: 32px;
}

.non-animate {
    animation: none;
}