.quiz-page {
  width: min(92vw, 1200px);
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: clamp(0.8rem, 2.5vw, 2rem);
  gap: clamp(0.4rem, 2vw, 1.24rem);
}

.quiz-status {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
}

.quiz-split {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(1rem, 4vw, 3rem);
  padding: clamp(0.5rem, 2vw, 1.2rem);
}

.person-section {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.person-section:hover .person-image-container {
  transform: translate(-0.3rem, -0.3rem) scale(1.02);
  box-shadow: 0.8rem 0.8rem 0 rgba(28, 25, 237);
}

.person-section:active .person-image-container {
  transform: translate(1.2rem, 1.2rem) scale(0.98);
  box-shadow: 0 0 0 rgba(28, 25, 237, 0);
}

.person-image-container {
  position: relative;
  width: clamp(14rem, 28vw, 28rem);
  height: clamp(12rem, 24vw, 24rem);
  overflow: hidden;
  border: 2px solid var(--color-primary);
  will-change: transform, box-shadow;
  transition: transform 400ms cubic-bezier(.34, 1.56, .64, 1), box-shadow 400ms cubic-bezier(.34, 1.56, .64, 1);
}

.person-image {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.person-name-overlay {
  color: var(--bg);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  padding: 2rem 1rem 1rem;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.person-name-overlay p {
  font-size: 1.2rem;
}

.person-section:hover .person-name-overlay {
  transform: translateY(0);
}

.person-name-static {
  font-family: 'Redaction 35', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  padding: 0.5rem 0.75rem;
}

.quiz-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  gap: clamp(0.2rem, 2vw, 0.4rem);
}

.quiz-container button {
  padding: 1rem 4rem;
  margin: clamp(0.6rem, 0.8rem, 1rem)
}