.quiz-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-row > * {
  margin: 4px;
}

.person-img {
  width: 200px;
  height: 200px;
  background: blue;
  border-radius: 8px;
}
