@font-face {
  font-family: 'Redaction';
  src: url('./fonts/Redaction-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction';
  src: url('./fonts/Redaction-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction';
  src: url('./fonts/Redaction-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 10';
  src: url('./fonts/Redaction_10-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 10';
  src: url('./fonts/Redaction_10-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 10';
  src: url('./fonts/Redaction_10-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 20';
  src: url('./fonts/Redaction_20-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 20';
  src: url('./fonts/Redaction_20-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 20';
  src: url('./fonts/Redaction_20-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 35';
  src: url('./fonts/Redaction_35-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 35';
  src: url('./fonts/Redaction_35-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 35';
  src: url('./fonts/Redaction_35-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 50';
  src: url('./fonts/Redaction_50-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 50';
  src: url('./fonts/Redaction_50-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 50';
  src: url('./fonts/Redaction_50-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 70';
  src: url('./fonts/Redaction_70-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 70';
  src: url('./fonts/Redaction_70-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 70';
  src: url('./fonts/Redaction_70-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Redaction 100';
  src: url('./fonts/Redaction_100-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 100';
  src: url('./fonts/Redaction_100-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 100';
  src: url('./fonts/Redaction_100-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

body,
h1,
h2,
h3,
li,
p,
ul,
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased
}

:root {
  font-family: 'Redaction', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  --color-primary: rgb(28, 25, 237);
  --bg: #F7F6FF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background-color: var(--bg);
}

h1 {
  font-size: 3.6rem;
  line-height: 1.1;
  color: var(--color-primary);
}

h2 {
  font-size: 3.2rem;
  line-height: 0.8;
  font-weight: 500;
  font-family: 'Redaction 50', sans-serif;
  color: var(--color-primary);
}

h3 {
  font-size: 2.4rem;
  font-weight: 400;
  font-family: 'Redaction 35', sans-serif;
}

h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 400;
}


button {
  all: unset;
  border: 2px solid var(--color-primary);
  background: none;
  padding: 0.5em 1em;
  font: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: box-shadow 0.1s, transform 0.1s;
  box-shadow: 5px 5px 0px rgba(28, 25, 237);
}

button:active {
  transform: translate(5px, 5px);
  box-shadow: 0 0 0 rgba(28, 25, 237);
}

button:hover:not(:active) {
  border: 2px solid rgba(0, 0, 0);
  box-shadow: 5px 5px 0 rgba(0, 0, 0);
}



/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */